<nav role="navigation" aria-label="Main">
    <div class="w3-top">
        <div class="w3-bar w3-black w3-card">
            <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="#" onclick="mobileNavigation()" aria-controls="navMoblie" aria-expanded="false" title="Toggle Navigation Menu"><i class="fa fa-bars" aria-hidden="true"></i><span class="w3-hide">Menu</span></a>
            <a href="{{ get_url(path='/', trailing_slash=false) }}" class="w3-bar-item w3-button w3-padding-large" aria-label="Home"><i class="fa fa-home" aria-hidden="true"></i></a>
        </div>
    </div>
    <div id="navMoblie" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
        <a href="#" class="w3-bar-item w3-button w3-padding-large" onclick="mobileNavigation()">Close</a>
    </div>
</nav>