<div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
        <h4><i class="fa-solid fa-sitemap"> Navigation </i></h4>
    </div>
    <div class="w3-container w3-white">
        <ul class="w3-ul w3-hoverable w3-white">
            {%- for navigation in config.extra.navigation -%}
                {%- if navigation.url is matching('^http') -%}
                    {%- set url = navigation.url -%}
                {%- else -%}
                    {%- set url = get_url(path='/', trailing_slash=false) ~ navigation.url -%}
                {%- endif -%}
                {%-if navigation.sidebar-%}
            <li class="w3-padding-8">
                <a href="{{-navigation.url-}}" style="text-decoration:none">{{-navigation.name | safe-}}</a>
            </li>
            <p></p>
                {%-endif-%}
            {%-endfor-%}
        </ul>
    </div>
</div><hr/>