<nav>
    <div class="w3-top">
        <div class="w3-bar w3-black w3-card">
            <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="mobileNavigation()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
            <a href="{{- config.base_url -}}" class="w3-bar-item w3-button w3-padding-large"><i class="fa fa-home"></i></a>
        </div>
    </div>
    <div id="navMoblie" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
        <a href="#" class="w3-bar-item w3-button w3-padding-large" onclick="mobileNavigation()">==</a>
    </div>
</nav>